.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;
}

.aboutTitles {
    font-family: Ubuntu;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 66%;
}

.contactInfo {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.contactIcon {
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

p {

}