.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 25vw;
}

.slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #a5a5a5;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.skillContainer {
    position: absolute;
    height: 25%;
    top: 0px;
}

.skill {
    height: 100%;
    margin: 10px;
}

.slideTitle {
    width: 100%;
    position: absolute;
    height: 25%;
    bottom: 0px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px black;
}

.slide-hidden {
    display: none;
}

.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    filter: invert(1);
    filter: drop-shadow(0px 0x 5px #555)
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: 1rem;
    transform: scaleX(-1);
}

.arrow-right {
    right: 1rem;
}

.indicatorsContainer {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.indicator {
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}

.indicator-inactive {
    background-color: grey;
}