.titles {
    font-family: Ubuntu;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
  
.titles h1 {
    font-size: 5em;
    margin: 0;
}

.titles h2 {
    margin: 20px 0px 20px 0px;
}

.contact {
    display: flex;
}

.contactIcon {
    height: 50px;
    width: 50px;
    margin-right: 25px;
}

.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;
}

.earthDiv {
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    transform: scale(0.8);
}

@media (max-width: 1000px) {

    .contact {
        display: inline;
    }
    
    .homeContainer {
        justify-content: center;
    }

    /*.titles {
        width: 100%;
        padding-left: 0;
        padding-bottom: 70%;
        text-align: center;
    }*/

    .titles h1 {
        font-size: 4em;
    }

    .titles h2 {
        font-size: 1em;
    }

    .contactIcon {
        margin-right: 15px;
    }

    .earthDiv {
        width: 0%;
    }
}